{% extends "website/layout.html" %}
{% load static %}

{% block title %}Book Visit{% endblock title%}

{% block head %}

{% endblock head%}

{% block body %}

<div class="jumbotron">
    <h1 class="display-4">Something went wrong !</h1>
    <p class="lead">
        Please contact us 
    </p>
    <hr class="my-4">
    <div class ="divmenu" id="divcontactus" >
        <div class="jumbotron">
          <h1 class="display-4">Contact us:</h1>
           
          <p class="lead">Ground Floor 14, Shakti Arcade, Sola, Science City Road, Ahmedabad. 380060</p>
          <p>
            <i aria-hidden="true" class="fas fa-map-marker" style='color:red'></i> 
            <a target="_blank"  href="https://goo.gl/maps/i65UASX8qo6rfqM29" ><span aria-hidden="true"></span><span>Get directions</span></a>
          </p>
          <hr class="my-4">
      <p><i class="fas fa-mobile-alt" style='color:red'></i> <a href="tel:+917016944046">+91-7016944046</a></p>
      <p><i aria-hidden="true" class="fas fa-phone-alt" style='color:red'></i> <a href="tel:+917948414799">+91 79 48414799</a></p>
      <p><i aria-hidden="true" class="fa fa-envelope" style='color:red'></i> <a href="mailto:mahilab22@gmail.com">mahilab22@gmail.com</a></p>
        </div>
      </div>

</div>
{% endblock body %}
