{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Need to add all head elements as this file donot inherit from layout.html -->
        <title>Mahi Diagnostics Pricelist</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <!-- Shortcut Icon -->
        <link rel="Shortcut Icon"  href="{% static 'website/mahi_icon.jpeg' %}">
        <link href="{% static 'website/pricelist.css' %}" rel="stylesheet">
    </head>
    <body>
        <!--Header-->
        <div id="header_content">
            <span class="header">Mahi Diagnostics</span>
            <br>
            Ground Floor 14, Shakti Arcade, Sola, Science City Road, Ahmedabad. 380060
            <br>
            +91-7016944046
        </div>
        <!--Content-->
        <div>
            <table>
                <tr>
                    <th class="test">Test</th>
                    <th class="price">Price</th>
                </tr>
                {% for pli in context %}
                    <tr>
                        <td class="test">{{ pli.Test }}</td>
                        <td class="price">{{ pli.Price }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <!-- Content for Static Frame 'footer_frame' -->
        <div id="footer_content">This is valid as on {% now "jS F Y" %}. For latest please visit www.mahidiagnostics.in</div>
    </body>
</html>
