venv/
db.sqlite3
media/

hostlab2.txt
dbnamelab2.txt
mssqldb_password.txt
pgdb_password.txt
pgdb_password_ubuntu.txt
pplus/settings.py
secret_key.txt
/static/
*.pyc
/migrations/
settings.py
labsys/static/labsys/New folder/
labsys/templates/labsys/New folder/
labsys/urls_1.py
labsys/views_1.py
migrations_tools/PyWhatKit/