/* rows */
  div.dropdown-multicol{
    width: 30em;

  }
  div.dropdown-row>a.dropdown-item{
    display:inline-block;
    width: 32%;
  }  
  /* Columns */
  div.dropdown-multicol2{
    width: 30em;
    border-radius: 20px;
    padding: 0px;
    margin: 0 px;
    /*
    background-color: #563d7c;
    border: #563d7c;
    align-content: center;
    */
  }
  div.dropdown-multicol2>div.dropdown-col{
    display:inline-block;
    width: 32%;
  }

  /*dropdawn menu in layout.html navbarmenu */
  a.dropdown-item{
    border: #563d7c;
    color: #563d7c;
    border-style: solid;
    padding : 0px;
    border-width: 1px;
    background-color: #ffffff;
    margin: 4px;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;

  }
  a.dropdown-item:hover {
    background-color : #563d7c;
    color : #ffffff;
    font-weight: bold;


  }
  
  /*nav  menu in index.html in aboutus section*/
  a.flex-sm-fill{
    border: #563d7c;
    color: #563d7c;
    border-style: solid;
    padding : 0px;
    border-width: 1px;
    background-color: #ffffff;
    margin: 4px;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;

  }
  a.flex-sm-fill:hover {
    background-color : #563d7c;
    color : #ffffff;
    font-weight: bold;


  }

  .footer{
    margin:0;
    overflow-x:hidden;
    }
    
    .footer{
    background:#563d7c;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .frow{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .frow a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    text-align:center;
    }
    
    .footer .frow a:hover{
    color:#fff;
    }
    
    .footer .frow ul{
    width:100%;
    }
    
    .footer .frow ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .frow a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .frow ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .frow a i{
    margin:0% 3%;
    }
    }
  /*
  Or just:
  div.dropdown-row>a.dropdown-item{
    display:inline-block;
    width: 10em;
  }
  
  (Former may be more convenient for responsive)
  */

