{% extends "labsys/layout.html" %}
{% load static %}
{% block title %}
    Appointment Registration
{% endblock title %}
{% block head %}
    <script src="{% static 'labsys\add_enc.js' %}" defer></script>
    <link href="{% static 'labsys\add_enc.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css"
          rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css"
          rel="stylesheet" />
    <script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"
            type="text/javascript"></script>
    <link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
          rel="stylesheet"
          type="text/css" />
{% endblock head %}
{% block body %}
    {% if message %}
        <div style="color:red">{{ message }}</div>
        <br>
    {% endif %}
    <div>
        <form action="{% url 'labsys:regi_appointment' pat_id %}" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">{{ form.account.label }} : {{ form.account }}</div>
                <div class="form-group col-md-6">TPA : {{ form.organization }}</div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">{{ form.tests.label }}{{ form.tests }}</div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">{{ form.participants.label }} : {{ form.participants }}</div>
                <div class="form-group col-md-6">
                    {{ form.slot.label }} : {{ form.slot }}<span style="color:red;">{{ form.slot.errors }}</span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">{{ form.start.label }} : {{ form.start }}</div>
                <div class="form-group col-md-4">{{ form.end.label }} : {{ form.end }}</div>
                <div class="form-group col-md-4">Is High Priority : {{ form.priority }}</div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">{{ form.description }}</div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">{{ form.patientinstruction }}</div>
            </div>
            <button type="submit" class="btn btn-primary btn-sm btn-block">Save</button>
        </form>
    </div>
{% endblock body %}
