{% extends "labsys/layout.html" %}
{% load static %}
{% block title %}
    Add Encoutner for {{ req.patient }}
{% endblock title %}
{% block head %}
{% endblock head %}
{% block body %}
    {% if message %}
        <div style="color:red">{{ message }}</div>
        <br>
    {% endif %}
    <div>
        <ul>
            <li>{{ req.occurrenceDateTime }}</li>
            {% for test in req.tests.all %}<li>{{ test }}</li>{% endfor %}
            <li>{{ req.practitioner }}</li>
            <li>{{ req.subject }}</li>
            <li>{{ req.account }}</li>
            {% for note in req.notes.all %}<li>{{ note }}</li>{% endfor %}
            {% for specimen in req.specimentypes.all %}<li>{{ specimen }}</li>{% endfor %}
            <li>{{ req.patientInstruction }}</li>
        </ul>
        <form action="{% url 'labsys:add-encounter' req.id %}" method="post">
            {% csrf_token %}
        </form>
    </div>
{% endblock body %}
