{% extends "labsys/layout.html" %}
{% load static %}
{% block title %}Test{% endblock %}
{% block body %}
<form action="{% url 'labsys:chargeitemdataedit' chargeItem.id %}" method="post">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputpriceOverride">Change Price</label>
      <input name = "priceOverride" type="text" class="form-control" id="inputpriceOverride" value = "{{chargeItem.priceOverride}}" size="8" >
    </div>
    <div class="form-group col-md-9">
      <label for="inputoverrideReason">Reason for it</label>
      <input Name = "overrideReason" type="text" class="form-control" id="inputoverrideReason" value = "{{chargeItem.overrideReason}}" style="width:80%">
    </div>
  </div>
  <div class="form-group">
    <label for="inputnote">Note</label>
    <input name="note" type="text" class="form-control" id="inputnote" value = "{{chargeItem.note|default:""}}" rows="5" style="width:90%">
  </div>
  <button type="submit" class="btn btn-primary btn-sm">Save Changes</button>
</form>
<br>

    <div class="card-body">
        <div class="row row-cols-auto">
            <div class="col">Registered by</div>
            <div class="col"> {{chargeItem.enterer}} </div>
            <div class="col-9">At : {{chargeItem.occurrenceDateTime}} </div>
        </div> 
        <div class="row row-cols-auto">
            <div class="col">Price Edit By</div>
            <div class="col">{{chargeItem.priceoverrideby|default:"Not Done"}}</div>
            <div class="col-9">Reason to edit price : {{chargeItem.overrideReason|default:"NA"}}</div>
        </div>
        <div class="row row-cols-auto">
          <div class="col">Note : </div>
          <div class="col-10">{{chargeItem.note|default:""}} </div>
      </div>  
    </div>

</br>
<button onclick="history.back()" class="btn btn-primary btn-sm">Back</button>

{% endblock %}