{% extends "labsys/layout.html" %}
{% load static %}
{% block title %}Encounter {{e.id}}{% endblock %}
{% block head %}
  <script src="{% static 'labsys\encounter.js' %}" defer></script>
  <link href="{% static 'labsys\encounter.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}


<div class="card text-left">
  <div class="card-header">
    <h6> {{e.patient}}  
        {% for tele in e.patient.telecom.all %}
          <!-- IF TEL USE IS MOBILE TO GET MOBILE NO -->
          {% if tele.use == "M" %}
            : : {{tele.get_use_display|title}}: {{tele.value}}
          {% endif %}          
          {% if tele.system == "E" %}
          :: {{tele.get_system_display|title}}  : {{tele.value}}
          {% endif %}
        {% endfor %}
    </h6>
  </div>
  <div class="card-body">
    <div class="card-title"><span id ="eid">{{e.id}}</span> : {{e.timedate|date}} : {{e.practitioner|title}}</div>
  </div>
</div>
<ul class="list-group">
   {% for t in chargeItems %}
  <li class="list-group-item d-flex justify-content-between  ">
    <span class ="testname">{{t.definitionCanonical.title}}</span>
    <span  style="display: none" >{{t.id}}</span>
    <a class="btn btn-outline-danger btn-sm deletetest">Delete Test</a>
    <span >{{t.priceOverride}}</span>    
  </li>
  {% empty %}
  No Test Listed.
  {% endfor %}
  <br>



  <div class="dropdown">
    <button id = "addtestdropbtn" class="dropbtn">Add Test</button>
    <div id="myDropdown" class="dropdown-content">
      <input type="text" autofocus autocomplete="off" placeholder="Search.." id="myInput" >
            {% for t in tests %}  
              <a href={% url 'labsys:addtest' e.id t.id %} >{{t.title}}</a>
            {% empty %}
              <a>All Test Added !!</a >
            {% endfor %}  
                
    </div>
  </div>


  <br>
  <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-dark">
    Total
    <a href=# class="btn btn-outline-primary btn-sm">Print Bill</a>
    <span id="totalamount">{{total}}</span>
    
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-warning">
    Discount
    <div>
      <a href=# class="btn btn-outline-primary btn-sm" id="addeditdisc">Add/Edit Discount</a>
    </div>
    <div id="addeditdiscout">
      <form action="{% url 'labsys:addeditdiscount' %}" method="post">
        <input value="{{e.id}}" name="eidinput" style="display: none">
        {% csrf_token %}
        <input   name="addeditdiscountinput" id="addeditdiscountinput">
        <input disabled type= "submit" id="addeditdiscountsubmit" class="btn btn-primary btn-sm">
      </form> 
    </div>
    <span> 
        {{ invoice.discount|default:0 }}
    </span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-success">
    Paid:
    <a href={% url 'labsys:addpayment' %} class="btn btn-outline-primary btn-sm" id="addpayment">Add Payment</a>
    <span>
      {% for payment in payments %}
        <ul>  
          <li><a href={% url 'labsys:index'  %} class="btn btn-outline-primary btn-sm">Print Recpt</a> : {{payment.paymentAmount}}</li>
        </ul>
      {% empty %}
        No Payment Received.
      {% endfor %}   
    </span>
  </li>
  
  <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-danger">
    Due &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href=# class="btn btn-outline-primary btn-sm">Send Reminder</a>
    <span id = "due">{{ invoice.due|default:0 }}</span>
  </li>
</ul>
<br>

<div>
    <a href={% url 'labsys:index'  %} class="btn btn-outline-info btn-sm btn-block">Go to Today</a>
    <br>
    <form action="{% url 'labsys:index' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
          <input type = "hidden" value = "{{e.timedate|date:"Y-m-d"}}" type="date" id="date_select" name="date" aria-describedby="addon-wrapping">
          <input  id = "datesubmit" class="btn btn-outline-info btn-sm btn-block" type="submit" value = "Back">
  </form>
</div>
<br>
<!-- Charge Item with report details -->
<div class="list-group-item-bordered">
  <table class="table table-striped table-bordered">
      <thead>
          <tr>
              <th scope="col">Report</th>
              <th scope="col"></th>
              <th scope="col"></th>
          </tr>
      </thead>
      <tbody>
          {% for c in chargeItems %}
              <tr>
                  <td scope="col">{{c.definitionCanonical.title}}</td>
                  <td scope="col"><a href={% url 'labsys:chargeitem' c.id 'edit' %} role="button" class="btn btn-outline-primary btn-sm">Edit</a></td>
                  <td scope="col"><a href={% url 'labsys:chargeitem' c.id 'view' %} role="button" class="btn btn-outline-primary btn-sm">View</a></td>
                  <td scope="col"><a href={% url 'labsys:chargeitem' c.id 'preview' %} role="button" class="btn btn-outline-primary btn-sm">Preview</a></td>
              </tr>
          {% empty %}
              <tr>
                  <td>No Report Listed.</td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}