{% extends "labsys/layout.html" %}
{% load static %}
{% block title %}Encounter {{e.id}}{% endblock %}
{% block head %}
  <script src="{% static 'labsys\encounter.js' %}" defer></script>
  <link href="{% static 'labsys\encounter.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}


<div class="card">
  <div class="card-header">
      <div class="row row-cols-auto">
          <div class="col" id = "eid">{{e.id}}</div>
          <div class="col">
              {% for name in e.patient.name.all %}
                  {% if name.use == "U" %}
                      {{name.text}} {{name.family}} 
                  {% endif %}
              {% endfor %}</div>
          <div class="col"> {{e.patient.age}} Yrs / {{e.patient.gender}}</div>
          
      </div>
      <div class="row row-cols-auto">
        <div class="col largescreen">
          {{e.timedate|date}}
        </div>
          {% for tele in e.patient.telecom.all %}
              {% if tele.use == "M" %}
              <div class="col largescreen">
                  {{tele.get_use_display|title}} : {{tele.value}}
              </div>
              {% endif %}
              {% if tele.system == "E" %}
              <div class="col largescreen">
                  {{tele.value}}
              </div>  
              {% endif %}
          {% endfor %}
      </div>
  </div>
  <div class="card-body">
      <div class="row row-cols-auto">
          <div class="col ">{{e.account}}</div>
          <div class="col">{{e.practitioner|title}}</div>
          <div class="col">
             Add more item
          </div>
      </div>
  </div>
</div>


<br>

{% for chargeItem in chargeItems %}
<div class="accordion" id="accordionExample">
  <div id="heading{{chargeItem.id}}">
      <button class="btn btn-light btn-sm btn-block" type="button" data-toggle="collapse" data-target="#collapse{{chargeItem.id}}" aria-expanded="false" aria-controls="collapse{{chargeItem.id}}">
          <div class="row row-cols-auto">
              <div class="col" align="left"><a href={% url 'labsys:chargeitemdataedit' chargeItem.id %}  class="btn btn-link btn-sm">{{chargeItem.definitionCanonical.title}}</a></div>
              <!--data set properties adde to element that can be acessed in java script-->
              <div class="col"><a id = "{{chargeItem.id}}" data-price="{{chargeItem.priceOverride}}" data-title="{{chargeItem.definitionCanonical.title}}" class="btn btn-outline-danger btn-sm deletetest">Delete Test</a></div>
              <div class="col" align="right">{{chargeItem.priceOverride}}</span></div>
          </div>   
      </button>
  </div>

  <div id="collapse{{chargeItem.id}}" class="collapse" aria-labelledby="heading{{chargeItem.id}}" data-parent="#accordionExample">
      <div class="card-body">
          <div class="row row-cols-auto">
              <div class="col">Registered by</div>
              <div class="col"> {{chargeItem.enterer}} </div>
              <div class="col-9">At : {{chargeItem.occurrenceDateTime}} </div>
          </div> 
          <div class="row row-cols-auto">
              <div class="col">Price Edit By</div>
              <div class="col">{{chargeItem.priceoverrideby|default:"Not Done"}}</div>
              <div class="col-9">Reason to edit price : {{chargeItem.overrideReason|default:"NA"}}</div>
          </div>
          <div class="row row-cols-auto">
            <div class="col">Note : </div>
            <div class="col-10">{{chargeItem.note|default:""}} </div>
        </div>  
      </div>
  </div>
</div>
{% empty %}
No Test Listed.
{% endfor %}


  <br>



  <div class="dropdown">
    <button id = "addtestdropbtn" class="dropbtn">Add Test</button>
    <div id="myDropdown" class="dropdown-content">
      <input type="text" autofocus autocomplete="off" placeholder="Search.." id="myInput" >
            {% for t in tests %}  
              <a href={% url 'labsys:addtest' e.id t.id %} >{{t.title}}</a>
            {% empty %}
              <a>All Test Added !!</a >
            {% endfor %}  
                
    </div>
  </div>


  <br>
  <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-dark">
    Total
    <a href=# class="btn btn-outline-primary btn-sm">Print Bill</a>
    <span id="totalamount">{{total}}</span>
    
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-warning">
    Discount: 
    <div>
      <a href=# class="btn btn-outline-primary btn-sm" id="addeditdisc">Add/Edit Discount</a>
    </div>
    <div id="addeditdiscout">
      <form action="{% url 'labsys:addeditdiscount' %}" method="post">
        {% csrf_token %}
        <input  class = "form-control" name="addeditdiscountinput" id="addeditdiscountinput" style="width:20%">
        <input disabled type= "submit" id="addeditdiscountsubmit" class="btn btn-primary btn-sm ">
        <input value="{{e.id}}" name="eidinput" style="display: none">
      </form> 
    </div>
    <span> 
        {{ invoice.discount|default:0 }}
    </span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-success">
    Paid:
    <a href={% url 'labsys:addpayment' %} class="btn btn-outline-primary btn-sm" id="addpayment">Add Payment</a>
    <span>
      {% for payment in payments %}
        <ul>  
          <li><a href={% url 'labsys:index'  %} class="btn btn-outline-primary btn-sm">Print Recpt</a> : {{payment.paymentAmount}}</li>
        </ul>
      {% empty %}
        No Payment Received.
      {% endfor %}   
    </span>
  </li>
  
  <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-danger">
    Due &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href=# class="btn btn-outline-primary btn-sm">Send Reminder</a>
    <span id = "due">{{ invoice.due|default:0 }}</span>
  </li>
</ul>
<br>


<!-- Charge Item with report details -->
<div class="list-group-item-bordered">
  <table class="table table-striped table-bordered">
      <thead>
          <tr>
              <th scope="col">Report</th>              
              <td scope="col"><a href=# role="button" class="btn btn-outline-primary btn-sm">Edit All</a></td>
              <td scope="col"><a href=# role="button" class="btn btn-outline-primary btn-sm">View All</a></td>
              
              <td scope="col">
                {% if is_all_chargeitem_atleast_final%}
                  <a href=# role="button" class="btn btn-outline-primary btn-sm">Preview All</a>
                {% endif %}
              </td>
          </tr>
      </thead>
      <tbody>
          {% for c in chargeItems %}         
              <tr id ="c_report_{{c.id}}">
                  <td scope="col">{{c.definitionCanonical.title}}</td>
                  <td scope="col"><a href={% url 'labsys:chargeitem' c.id 'edit' %} role="button" class="btn btn-outline-primary btn-sm">Edit</a></td>
                  <td scope="col"><a href={% url 'labsys:chargeitem' c.id 'view' %} role="button" class="btn btn-outline-primary btn-sm">View</a></td>
                  <td scope="col">
                    {% if c.serialize.is_all_atleat_final %}
                      <a href={% url 'labsys:chargeitem_preview' c.id  %} role="button" class="btn btn-outline-primary btn-sm">Preview</a>
                    {% endif %}
                  </td>
              </tr>
          {% empty %}
              <tr>
                  <td>No Report Listed.</td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
<br>
<div>
  <a href={% url 'labsys:index'  %} class="btn btn-outline-info btn-sm btn-block">Go to Today</a>
  <br>
  <form action="{% url 'labsys:index' %}" method="post">
    {% csrf_token %}
        <input type = "hidden" value = "{{e.timedate|date:"Y-m-d"}}" type="date" id="date_select" name="date" aria-describedby="addon-wrapping">
        <input  id = "datesubmit" class="btn btn-outline-info btn-sm btn-block" type="submit" value = "Back">
</form>
</div>
{% endblock %}