{% extends "labsys/layout.html" %}
{% load static %}

{% block title %}Found{% endblock %}

{% block body %}



<div class="table-responsive container">
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Name </th>
            <th scope="col">Age/Sex</th>
            <th scope="col">Mobile No</th>
            <th scope="col">E mail</th>
            </tr>
        </thead>
        <tbody>
            {% for name in names %}            
                <tr>                    
                    <td>{{name.patient.id}}</td>
                    <td><a href={% url 'labsys:pat_enc' name.patient.id  %}>{{ name.text}} {{name.given}}</a></td>
                    <td>{{ name.patient.age}}/{{name.patient.gender}}</td>
                    <!-- iterate all telecoms for the patietns -->
                    {% for tele in name.patient.telecom.all %}
                    <td> <!-- IF TEL USE IS MOBILE TO GET MOBILE NO -->
                                    {% if tele.use == "mobile" %}
                                        {{tele.value}}
                                    {% endif %}
                    </td>
                    <td> <!-- IF TELE SYSTEM IS EMAI "E" To get -->
                                    {% if tele.system == "E" %}
                                        {{tele.value}}
                                    {% endif %}
                    </td>
                    {% endfor %}                    
                </tr>         
           {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}