<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Test : SGOT Rs  : 200 | Change charge item definition | Django site admin</title>
    <script type="text/javascript" src="{% static 'admin/jsi18n/' %}" defer></script>
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}" defer></script>
    <script type="text/javascript"
            src="{% static 'admin/js/jquery.min.js' %}"
            defer></script>
    <script type="text/javascript"
            src="{% static 'admin/js/jquery.init.js' %}"
            defer></script>
    <script type="text/javascript"
            src="{% static 'admin/js/SelectFilter2.js' %}"
            defer></script>
    <script type="text/javascript"
            src="{% static 'admin/js/SelectBox.js' %}"
            defer></script>
    <link href="{% static 'admin/css/widgets.css' %}" rel="stylesheet">
    <link href="{% static 'admin/css/base.css' %}" rel="stylesheet">
    <link href="{% static 'admin/css/forms.css' %}" rel="stylesheet">
  </head>
  <body class=" app-labsys model-chargeitemdefinition change-form"
        data-admin-utc-offset="19800">
    <form method="post" id="chargeitemdefinition_form" novalidate="">
      <input type="hidden"
             name="csrfmiddlewaretoken"
             value="2KbaxLxJy8yCOTjcbeKfgjq7R1GRisCP1Y0ckhvsHGIxmZSimV2kPkFnIfhbmUD4">
      <div>
        <fieldset class="module aligned ">
          <div class="form-row field-observations_included">
            <div>
              <label for="id_observations_included">Observations included:</label>
              <div class="related-widget-wrapper">
                <a class="related-widget-wrapper-link add-related"
                   id="add_id_observations_included"
                   href="/admin/labsys/observationdefinition/add/?_to_field=id&amp;_popup=1"
                   title="Add another observation definition">
                  <img src="/static/admin/img/icon-addlink.svg" alt="Add">
                </a>
                <div class="selector">
                  <div class="selector-available">
                    <h2>
                      Available observations included <span class="help help-tooltip help-icon"
       title="This is the list of available observations included. You may choose some by selecting them in the box below and then clicking the &quot;Choose&quot; arrow between the two boxes."></span>
                    </h2>
                    <p id="id_observations_included_filter" class="selector-filter">
                      <label for="id_observations_included_input">
                        <span class="help-tooltip search-label-icon"
                              title="Type into this box to filter down the list of available observations included."></span>
                      </label>
                      <input type="text" placeholder="Filter" id="id_observations_included_input">
                    </p>
                    <select name="observations_included_old"
                            id="id_observations_included_from"
                            multiple=""
                            class="filtered"
                            data-field-name="observations included"
                            data-is-stacked="0">
                      <option value="7" title="Test : B12">Test : B12</option>
                      <option value="2" title="Test : Creatinine">Test : Creatinine</option>
                      <option value="8" title="Test : D3">Test : D3</option>
                      <option value="11" title="Test : Hemoglobin">Test : Hemoglobin</option>
                      <option value="3" title="Test : SGPT">Test : SGPT</option>
                      <option value="6" title="Test : TOTAL BILIRUBIN">Test : TOTAL BILIRUBIN</option>
                      <option value="10" title="Test : Urea">Test : Urea</option>
                    </select>
                    <a title="Click to choose all observations included at once."
                       href="#"
                       id="id_observations_included_add_all_link"
                       class="selector-chooseall active">Choose all</a>
                  </div>
                  <ul class="selector-chooser">
                    <li>
                      <a title="Choose"
                         href="#"
                         id="id_observations_included_add_link"
                         class="selector-add">Choose</a>
                    </li>
                    <li>
                      <a title="Remove"
                         href="#"
                         id="id_observations_included_remove_link"
                         class="selector-remove">Remove</a>
                    </li>
                  </ul>
                  <div class="selector-chosen">
                    <h2>
                      Chosen observations included <span class="help help-tooltip help-icon"
       title="This is the list of chosen observations included. You may remove some by selecting them in the box below and then clicking the &quot;Remove&quot; arrow between the two boxes."></span>
                    </h2>
                    <select id="id_observations_included_to"
                            multiple=""
                            size="0"
                            name="observations_included"
                            class="filtered"
                            style="height: 268px">
                      <option value="4" title="Test : SGOT">Test : SGOT</option>
                    </select>
                    <a title="Click to remove all chosen observations included at once."
                       href="#"
                       id="id_observations_included_remove_all_link"
                       class="selector-clearall active">Remove all</a>
                  </div>
                </div>
              </div>
              <div class="help">Hold down “Control”, or “Command” on a Mac, to select more than one.</div>
            </div>
          </div>
        </fieldset>
        <div class="submit-row">
          <input type="submit" value="Save" class="default" name="_save">
          <p class="deletelink-box">
            <a href="/admin/labsys/chargeitemdefinition/12/delete/"
               class="deletelink">Delete</a>
          </p>
          <input type="submit" value="Save and add another" name="_addanother">
          <input type="submit" value="Save and continue editing" name="_continue">
        </div>
        <script type="text/javascript"
                src="{% static '/admin/js/change_form.js' %}"
                defer></script>
        <script type="text/javascript"
                src="{% static 'admin/js/prepopulate_init.js' %}"
                defer></script>
      </div>
    </form>
  </div>
  <br class="clear">
</div>
<!-- END Content -->
<div id="footer"></div>
</div>
</div>
</div>
<!-- END Container -->
<div class="clockbox module"
     id="clockbox0"
     style="display: none;
            position: absolute">
  <h2>Choose a time</h2>
  <ul class="timelist">
    <li>
      <a href="#">Now</a>
    </li>
    <li>
      <a href="#">Midnight</a>
    </li>
    <li>
      <a href="#">6 a.m.</a>
    </li>
    <li>
      <a href="#">Noon</a>
    </li>
    <li>
      <a href="#">6 p.m.</a>
    </li>
  </ul>
  <p class="calendar-cancel">
    <a href="#">Cancel</a>
  </p>
</div>
<div class="clockbox module"
     id="clockbox1"
     style="display: none;
            position: absolute">
  <h2>Choose a time</h2>
  <ul class="timelist">
    <li>
      <a href="#">Now</a>
    </li>
    <li>
      <a href="#">Midnight</a>
    </li>
    <li>
      <a href="#">6 a.m.</a>
    </li>
    <li>
      <a href="#">Noon</a>
    </li>
    <li>
      <a href="#">6 p.m.</a>
    </li>
  </ul>
  <p class="calendar-cancel">
    <a href="#">Cancel</a>
  </p>
</div>
<div class="clockbox module"
     id="clockbox2"
     style="display: none;
            position: absolute">
  <h2>Choose a time</h2>
  <ul class="timelist">
    <li>
      <a href="#">Now</a>
    </li>
    <li>
      <a href="#">Midnight</a>
    </li>
    <li>
      <a href="#">6 a.m.</a>
    </li>
    <li>
      <a href="#">Noon</a>
    </li>
    <li>
      <a href="#">6 p.m.</a>
    </li>
  </ul>
  <p class="calendar-cancel">
    <a href="#">Cancel</a>
  </p>
</div>
</body>
</html>
