{% extends "labsys/layout.html" %}
{% load static %}
{% block title %}Index{% endblock %}
{% block body %}
 
<div class="input-group flex-nowrap">
    <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label class="input-group-text" for="date">Select Date:</label>
        <input class="form-control" type="date" id="date_select" name="date" aria-describedby="addon-wrapping">
        <input class="btn btn-primary btn-sm" type="submit">
    </form>
</div>
    <h1>Patient Listed</h1>
    <div class="list-group">
        {% for e in encounter %}
            <a href= {% url 'encounter' e.id %} class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">{{e.id}} : {{e.timedate|date}} : {{e.patient}}</h6>
                    <small>{{e.account}}.</small>
                    <small>{{e.practitioner}}</small>
                    <small>
                        <ol>
                            {% for t in e.test.all %}
                            <li>{{t.test}} : {{t.price}}</li>
                            {% endfor %}
                        </ol>
                        <ul><li>Total : {{e.test.all.aggregate}}</li></ul>
                    </small>
                </div>
                <p class="mb-1">
                    
                </p>
                {# <p class="mb-1">{{e.test.all|join:", "|default:"No Test Listed"}}.</p> #}
               

            </a>
            {% empty %}
            No Patient Listed!
            {% endfor %}
    </div>
 <div>
    <a href={% url 'PatReg'  %} class="btn btn-primary">Register New Patient</a>
</div>
    </p>
{% endblock %}


