{% extends "labsys/layout.html" %}
{% load static %}
{% block title %}Index{% endblock %}
{% block body %}
    <h1>Patient Listed</h1>

    {% comment "template for dict created manually in view function" %}
    <P>
        {% for c in context %}
        <ul>
           <li>
               {{c.id}} : {{c.date}} : {{c.patient}} : {{c.practitioner}} :{{c.account}} :
               {% for test in c.test%} {{test}},
               {% empty %}
               No Test Listed
               {% endfor %}
            </li>
        </ul>
        {% empty %}
            No Patient Listed!
        {% endfor %}
    </P>
    {% endcomment %}

    <div class="list-group">
        {% for e in encounter %}
            <a href= {% url 'encounter' e.id %} class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">{{e.id}} : {{e.timedate|date}} : {{e.patient}}</h6>
                    <small>{{e.account}}.</small>
                    <small>{{e.practitioner}}</small>
                    <small>
                        <ol>
                            {% for t in e.test.all %}
                            <li>{{t.test}} : {{t.price}}</li>
                            {% endfor %}
                        </ol>
                        <ul><li>Total : {{e.test.all.aggregate}}</li></ul>
                    </small>
                </div>
                <p class="mb-1">
                    
                </p>
                {# <p class="mb-1">{{e.test.all|join:", "|default:"No Test Listed"}}.</p> #}
               

            </a>
            {% empty %}
            No Patient Listed!
            {% endfor %}
    </div>
            
      

    </p>
{% endblock %}


