{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{chargeitem.subject.get_usual_name}}({{chargeitem.context.id}})</title>
    <link rel="Shortcut Icon" href="{% static 'labsys/logo.png' %}">
    <link href="{% static 'labsys\styles.css' %}" rel="stylesheet">

    <style type="text/css">
        @page {
            size: A4;
            margin: 2cm;            
        }

        .table, td, th {  
        border-bottom: none;
        border-top: none;
        text-align: left;
        }

        .table {
        border-collapse: collapse;
        width: 100%;

        }

        .table  {
        padding: 1.5px;
        text-align: left;
        }


        .textcenter {
            text-align: center;
        }

 
    </style>
</head>
<body>
<!--Top Margin-->
<p style="margin-bottom:3cm;"> .</p>
<!--Header-->
<div id = "header">
    <table >
        <tr>
            <td><h3>Name : {{chargeitem.subject.get_usual_name}} </h3></td>
            <td>Smp No : {{chargeitem.context.id}}</td>
            <td> Ref no : </td>
        </tr>
        <tr>
            <td><h3>{{chargeitem.subject.age}} Y / {{chargeitem.subject.get_gender_display}}</h3></td>
            <td>{{chargeitem.subject.get_mobile}}</td>
            <td>{{chargeitem.subject.get_email}}</td>
        </tr>
        <tr>
            <td><h3>Ref : {{chargeitem.context.practitioner|title}}</h3></td>
            <td>Regi At : {{chargeitem.context.timedate}}</td>
            <td>{{chargeitem.context.account}}</td>
        </tr>
    </table>
</div>

<br/>

<!--Content-->
<h2 class="textcenter">{{chargeitem.definitionCanonical.heading}}</h2>
<div id = "content">          
    <table class="table">
        <thead>
            <tr>
                <th>Test</th>
                <th>Result</th>
                <th>Unit</th>
                <th>Normal Range</th>
            </tr>
        </thead>
        <tbody>
            {% for ob in observations %}
            <tr>
                <td><h3>{{ob.testfield.test}}</h3></td>
                <td rowspan = "2"><h3>{{ob.value|default:"Not Entered"}}</h3></td>
                <td rowspan = "2">{{ob.unit}}</td>
                <td rowspan = "2">{{ob.low}}-{{ob.high}}</td>
            </tr>
            <tr>
                <td>Method : {{ob.testfield.method}}</td>
            </tr>
            <tr>
               <td colspan="4">Note : {{ob.note}}</td>
             </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!--Footer-->
<div class="footer">
    Print at :  - {% now "jS F Y H:i" %}
</div>

            
